services:
  api:
    container_name: alert_bot
    user: root
    build:
      context: .
    volumes:
      - /:/host:ro
      - ./.env:/opt/api/.env
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    command: sh -c "cd /opt/api/ && npm run start:prod"
    networks:
      - prod_db

networks:
  prod_db:
    external: true