name: Deploy

on:
  push:
    branches:
      - master


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          envs: FINAL_TAG
          script: |
            cd ~/SkyHelp-Alert-Bot || exit 1
          
            git pull origin master || { echo "❌ Git pull failed"; exit 1; }
            
            docker compose up --build -d
            
            echo "✅ Deployment complete"